.container {
    max-width: 120rem;
    margin: 8rem auto; //center container inside of the parent element
    background-color: var(--color-grey-light-2);
    box-shadow: var(--shadow-dark);

    min-height: 50rem;

}

.header {
    font-size: 1.4rem;
    height: 7rem;
    background-color: #fff;
    border-bottom: var(--border-line);

    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.content {
    display: flex;

}

.sidebar {
background-color: var(--color-grey-dark-1);

flex: 0 0 18%; // don't grow don't shrink always be 18% of the width.
display: flex;
flex-direction: column;  // change fex direction from row to column
justify-content: space-between;

}

.hotel-view {
    background-color: #fff;
    // construction styles
    // background-color: orangered;
    // height: 80rem;

    flex: 1; // occupy all remaining space, 82%

}

.detail {
    display: flex;
    padding: 4.5rem; // using same spacing as margin-right
    background-color: var(--color-grey-light-1);
    border-bottom: var(--border-line);
}

.description {
    font-size: 1.4rem; // font size can  be inherited
    background-color: #fff;
    box-shadow: var(--shadow-light);
    padding: 3rem;
    flex: 0 0 60%;
    margin-right: 4.5rem;

}

.user-reviews {
    background-color: yellowgreen;
    flex: 1;

}
