.container {
    max-width: 120rem;
    margin: 8rem auto; //center container inside of the parent element
    background-color: var(--color-grey-light-2);
    box-shadow: var(--shadow-dark);

    min-height: 50rem;

}

.header {


}

.container {


}

.sidebar {


}

.hotel-view {


}
